# Build
/node_modules
/dist
dist.zip

# Tests
/test/client/videos
/test/client/screenshots

# Sensitive env config
env/*
!env/default.yml
!env/index.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
